<!DOCTYPE html>

<html>
    <head>
        <title>Random Portland Neighborhood Picker</title>
    </head>

    <body>
        <div>
            Section of town: {{section}}
        </div>
        <div>
            Neighborhood: {{neighborhood}}
        </div>
        <div>
            <a href={{mapsUrl}}>Location on Google Maps</a>
        </div>
    </body>
</html>